<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
</head>
<body>
<a href="../admin">Вернуться на главную страницу личного кабинета администратора</a>

<h3>Поиск</h3>
<form th:method="POST" th:action="@{/admin/orderList/order_search}">
    <fieldset>
        <label for="order_search">Введите последние 4 символа из номера заказа</label>
        <input type="text" minlength="4"  maxlength="4" id="order_search" name="order_search" th:value="*{value_search}">
        <input type="submit" value="Найти">
    </fieldset>
</form>

<h3>Результат поиска</h3>
<div th:each="order: ${order_search}">
    <a th:href="@{/admin/order/info/{id}(id=${order.getId})}" th:text="${order.getNumber()}"></a>
    <p th:text="'Товар: ' + ${order.getProduct().getTitle()}"></p>
</div>
<hr>

<h3>Заказы</h3>
<div th:each="order: ${orders}">
    <p th:text="'Номер заказа: ' + ${order.getNumber()}"></p>
    <p th:text="'Логин пользователя: ' + ${order.getPerson().getLogin()}"></p>
    <p th:text="'Дата оформления заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MM-yyyy')}"></p>
    <p th:text="'Стасус заказа: ' + ${order.getStatus()}"></p>
    <a th:href="@{/admin/order/info/{id}(id=${order.getId()})}" th:text="'Смотреть подробную инфoрмацию о заказе'"></a>
    <hr>
</div>
</body>
</html>