<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список зарегистрированных пользователей</title>
</head>
<body>
<h1>Список зарегистрированных пользователей</h1>
<a href="../admin">Вернуться на главную страницу личного кабинета администратора</a>
<div th:each="person: ${persons}">
    <p th:text="'Id: ' + ${person.getId()}"></p>
    <p th:text="'Логин: ' + ${person.getLogin()}"></p>
    <p th:text="'Пароль: ' + ${person.getPassword()}"></p>
    <p th:text="'Роль: ' + ${person.getRole()}"></p>
    <a th:href="@{/user/info/{id}(id=${person.getId()})}">Сменить роль</a>
    <hr>
</div>
</body>
</html>